@import "/com/example/styles/base/variables.css";

#sidebar {
    -fx-background: white;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: -fx-outline;
    -fx-padding: 24px;
    -fx-min-width: 240px;
}
#sidebar .side-button {
    -fx-background: transparent;
    -fx-text-fill: -fx-secondary;
    -fx-padding: 10 12;
    -fx-background-radius: 6px;
}
#sidebar .side-button.active {
    -fx-background-color: -fx-accent;
    -fx-text-fill: white;
}
